# Основные
fastapi==0.104.1
uvicorn[standard]==0.24.0

# Для Parquet экспорта (опционально)
pandas==2.1.0
pyarrow==14.0.0

# Для MLflow (опционально)
mlflow==2.9.2

# Для кэша (опционально)
redis==5.0.1
